@import url('https://fondationscp.github.io/theme/sigma9.min.css');
 
/* Common Theme INT Edition - CC BY-SA 3.0 - by Dr_Grom */

:root {
    --ct_bg_header-image: url("https://fondationscp.github.io/theme/int/images/body_bg.svg");
    --ct_bg_header-logo: url("https://fondationscp.github.io/theme/int/images/logo-pride.png");
    --ct_col_searchbox-gradient-1: #0f1a25;
    --ct_col_searchbox-gradient-2: #1e354c;
    --ct_col_searchbox-gradient-3: #2b4a6c;
    --ct_col_searchbox-gradient-4: #38628f;
}
  
#container-wrap {
    background-image: var(--ct_bg_header-image, url("https://fondationscp.github.io/theme/int/images/body_bg.svg")); 
}
#header {
    background-image: var(--ct_bg_header-logo, url("https://fondationscp.github.io/theme/int/images/logo-pride.png"));
}
 
#search-top-box-form input[type=submit] {
    background-color: var(--ct_col_searchbox-gradient-2, #1e354c);
    background-image: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-3, #2b4a6c),var(--ct_col_searchbox-gradient-2, #1e354c),var(--ct_col_searchbox-gradient-1, #0f1a25));
}
#search-top-box-form input[type=submit]:hover,
#search-top-box-form input[type=submit]:focus {
    background-color: var(--ct_col_searchbox-gradient-3, #2b4a6c);
    background-image: linear-gradient(to bottom, var(--ct_col_searchbox-gradient-4, #38628f),var(--ct_col_searchbox-gradient-3, #2b4a6c),var(--ct_col_searchbox-gradient-2, #1e354c));
}
 
/* Credit system */
.page-rate-widget-box {
    margin-block-end: 1rem;
}

.licensebox .collapsible-block-link {
    font-weight: bold;
    opacity: .5;
    color: inherit;
    font-size: 0.85em;
    transition: opacity .5s ease-in-out;
}
 
.licensebox .collapsible-block-link:hover,
.licensebox .collapsible-block-link:active {
    opacity: 1;
}
 
.licensebox .collapsible-block-folded, .licensebox .collapsible-block-unfolded-link {
    margin-top: 2em;
    text-align: center;
}
 
.licensebox .collapsible-block-content {
    text-align: center;
}
 
.licensebox blockquote,
.licensebox div.blockquote {
    text-align: left;
}

/* Translating hardcoded text */
.login-status-sign-in::after {
    content: " as a Wikidot user"
}
.content.modal-body p:last-of-type::after {
    content: " If you believe this error is not normal, you can come and ask for help on our official Discord server."
}
script + .page-tags:before {
    content: "Login to your account to hide ads";
}
